body {
    background-color: #01fe0e;
    display: flex;
  }
h1 {
    padding: 20px;
    justify-content: center;
    color: red;
}
p {
    padding: 100px;
    justify-content: center;
    color:red
}
img {
    padding:50px;
    justify-content: left;
}